@import '../../../css/variables.css';

#about h2 {
  font-size: 2.4rem;
  line-height: 2.8rem;

  padding-bottom: 1.2rem;
}

#about p {
  max-width: 71.5rem;

  font-size: 1.3rem;
  line-height: 1.5rem;

  color: var(--gray-300);
}

#contact {
  flex: 1;

  padding-left: 6.6rem;
}

#contact .form-contact {
  max-width: 39.149rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 2.1rem;
}

#contact .form-contact .error-message {
  font-size: 1.1rem;
  font-weight: 700;

  padding-left: 1.4rem;

  color: var(--red-500);

  position: absolute;
  top: 101%;
}

#contact fieldset {
  border: none;

  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

#contact .form-group legend {
  font-size: 2.4rem;

  line-height: 2.3rem;

  text-transform: uppercase;

  color: var(--black-500);

  padding-bottom: 3.3rem;
  padding-left: 2.5rem;
}

#contact .form-group .input-wrapper {
  display: flex;
  flex-direction: column;
  gap: .4rem;

  position: relative;
}

#contact .form-group .input-wrapper label {
  padding-left: 1.4rem;

  font-size: 1.4rem;
  line-height: 2.3rem;

  color: var(--black-400);
}

#contact .form-group .input-wrapper input {
  width: 100%;
  height: 4.712rem;

  padding: 1.1rem 0 1rem 2.8rem;

  background: var(--white-500);

  border: .1rem solid var(--black-400);
  border-radius: 2.5rem;
}

#contact .form-group .input-wrapper input::placeholder {
  font-size: 1.4rem;
  line-height: 2.3rem;
  
  color: var(--gray-200);
}

#contact .form-group .input-wrapper input.error-input {
  border: 1px solid var(--red-500);

  padding-bottom: 1.2rem;
}

#contact .input-checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

#contact .input-checkbox .checkbox-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .8rem;
}

#contact .form-contact .input-checkbox label {
  font-size: 1.4rem;
  line-height: 2.3rem;

  text-decoration: underline;
  text-underline-offset: .12rem;

  color: var(--black-400);
}

#contact .form-contact .input-checkbox label span {
  color: var(--blue-500);
}

#contact .input-checkbox .error-message {
  padding-left: 0;
}

#contact .form-contact .contact-submit {
  height: 5.247rem;
  width: 100%;

  background: var(--blue-500);
  border-radius: 2.5rem;

  font-weight: 700;
  font-size: 1.6rem;

  text-transform: uppercase;

  line-height: 3.4rem;

  letter-spacing: 0.05em;

  color: var(--white-500);

  cursor: pointer;
}

#contact .form-contact .contact-submit:disabled {
  opacity: .5;

  cursor: no-drop;
}

@media screen and (max-width: 992px) {
  #about {
    padding-top: 1.7rem;
    padding-bottom: 14.9rem;
  }
  
  #about h2 {
    text-align: center;

    padding-bottom: 1.6rem;
  }

  #about p {
    text-align: justify;
  }

  #about p .about-desktop {
    display: none;
  }
  #contact {
    padding-left: 0;

    width: 100%;
  }

  #contact .form-contact {
    max-width: 100%;

    padding-bottom: 3.2rem;
  }

  #contact .form-group legend {
    font-size: 1.8rem;

    line-height: 1.8rem;

    text-align: center;

    padding-left: 0;
  }
}