@import '../../css/variables.css';

.container-buttons {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  position: fixed;
  bottom: 8px;
  right: 8px;

  z-index: 5;

  visibility: hidden;

  transition: 0.2s;
  transform: translateY(100%); 
}

.container-buttons.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.container-buttons .button-whatsapp {
  display: flex;
}

.container-buttons .back-to-top {
  width: 3.7rem;
  height: 3.7rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--gray-100);
  
  border-radius: 999.9rem;

  cursor: pointer
}