@import '../../../css/variables.css';

.newsLetter {
  display: flex;
  justify-content: center;

  padding: 1.7rem 0;

  border-top: .1rem solid var(--white-350)
}

.newsLetter .newsLetter-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: .2rem;

  max-width: 47.5rem;
  width: 100%;
}

.newsLetter .newsLetter-container h2 {
  font-size: 1.8rem;
  font-weight: 500;
  font-variant: small-caps;

  line-height: 2.1rem;
  letter-spacing: 0.05em;
  
  
  color: var(--black-100);
}

.newsLetter .form-newsLetter {
  display: flex;
  align-items: flex-start;
  gap: .7rem;

  width: 100%;
}

.newsLetter .form-newsLetter .input-wrapper {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: .3rem;

  position: relative;
}
 
.newsLetter .form-newsLetter .input-wrapper input {
  flex: 1;

  height: 4.2rem;

  padding: 1.3rem 0 1.3rem 1.6rem;

  border: .1rem solid var(--white-300);
  border-radius: .4rem;
}

.newsLetter .form-newsLetter .input-wrapper input.error-input {
  border: 1px solid var(--red-500);
}

.newsLetter .form-newsLetter .input-wrapper input::placeholder {
  font-size: 1.4rem;

  line-height: 1.6rem;

  color: var(--gray-100);
}

.newsLetter .form-newsLetter .input-wrapper .error-message {
  font-size: 1.1rem;
  font-weight: 700;

  color: var(--red-500);

  position: absolute;
  top: 101%;
}

.newsLetter .form-newsLetter button {
  width: min(12.6rem, 100%);
  height: auto;

  padding: 1.4rem 4rem;
  
  background-color: var(--blue-500);
  color: var(--white-500);

  box-shadow: 0 .4rem .4rem rgba(0, 0, 0, 0.25);
  border-radius: .4rem;

  text-transform: uppercase;

  font-weight: 700;
  font-size: 1.2rem;

  line-height: 1.4rem;

  letter-spacing: 0.05em;

  cursor: pointer;
}

.newsLetter .form-newsLetter button:disabled {
  opacity: 0.5;

  cursor: no-drop;
}

@media screen and (max-width: 992px) {
  .newsLetter .newsLetter-container {
    max-width: 100%; 
    padding: 0 8rem;
  }

  .newsLetter .form-newsLetter .input-wrapper {
    width: 100%;
  }

}

@media screen and (max-width: 576px) {
  .newsLetter {
    padding: 0;
  }
  
  .newsLetter .newsLetter-container {
    gap: 1.2rem;

    padding: 2.1rem 2.5rem 3.2rem;
  }

  .newsLetter .form-newsLetter {
    flex-direction: column;
    gap: 1.6rem;
  }

  .newsLetter .form-newsLetter .input-wrapper input, 
  .newsLetter .form-newsLetter button {
    width: 100%;
  }
} 