@import '../../css/variables.css';

#institutional {
  padding: 3rem 13rem 17.1rem;
}

#institutional h1 {
  font-size: 2.4rem;
  font-weight: 300;

  line-height: 2.9rem;
  
  letter-spacing: 0.1em;

  text-transform: uppercase;
  text-align: center;
  
  color: var(--black-200);

  padding-bottom: 4.1rem;
}

#institutional .institutional-container {
  display: flex;
  gap: 3.2rem;
}

@media screen and (max-width: 992px) {
  #institutional {
    padding: 1.4rem 8rem 0;
  }

  #institutional h1 {
    padding-bottom: 2.3rem;
  }

  #institutional .institutional-container {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 576px) {
  #institutional {
    padding: 1.4rem 1.6rem 0;
  }
}