.location-page {
  display: flex;
  align-items: center;
  gap: .9rem;

  padding-bottom: 8rem;
}

.location-page span {
  font-size: 1.2rem;

  line-height: 1.4rem;

  text-transform: uppercase;

  color: var(--gray-100);
}

@media screen and (max-width: 992px) {
  .location-page {
    padding-bottom: 3.3rem;
  }
}