@import '../../css/variables.css';

.page-header {
  display: flex;
  flex-direction: column;

  background-color: var(--blue-500);
}

.page-header .header-container {
  padding: 1.8rem 4rem 1.4rem 10.9rem;
}

.page-header .header-apresentation {
  border-bottom: 1px solid var(--gray-100);
}

.page-header .header-search-mobile {
  display: none;
}

.page-header  .header-apresentation .header-container {
  display: flex;
  justify-content: space-between;
}

.page-header  .header-apresentation .header-container .menu-hamburguer {
  display: none;
}

.page-header  .header-apresentation .header-container .logo-m3{
  text-decoration: none;
}

.page-header  .header-apresentation .header-container .logo-m3 .academy{
  font-family: var(--font-Inter);
  font-weight: 600;
  font-size: 2.2rem;

  line-height: 2.7rem;
  letter-spacing: -0.1em;
  text-decoration: none;

  color: var(--black-300);

  padding-left: .2rem;
}

.page-header .header-apresentation .header-container .header-login {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.page-header .header-apresentation .header-container .header-login .user-login {
  font-weight: 400;
  font-size: 14px;

  line-height: 16px;

  text-transform: uppercase;
  text-decoration: none;

  color: var(--white-500)
}

.page-header .header-apresentation .header-container .header-login .cart {
  cursor: pointer;
}

.page-header .header-navigation .header-container {
  padding-top: 1.4rem;
}

.page-header .header-navigation .header-container .navigation-container {
  display: flex;
  align-items: center;
  gap: 12.6rem;
}

.page-header .header-navigation .header-container .navigation-container .navigation-links a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  
  line-height: 16px;

  text-transform: uppercase;
  text-decoration: none;

  color: var(--white-500);
}

@media screen and (max-width: 992px) {
  .page-header .header-apresentation {
    border-bottom: 0;
  }

  .page-header  .header-apresentation .header-container {
    padding: 2.9rem 8rem 0 8rem;
  }

  .page-header  .header-apresentation .header-container .menu-hamburguer {
    display: block;
  }

  .page-header .header-navigation {
    position: fixed;
    top: 0;
    left: 0;

    min-height: 100vh;
    width: 100vw;

    background-color: rgba(0, 0, 0, 0.534);

    z-index: 5;

    visibility: hidden;
    opacity: 0;
  }

  .page-header .header-navigation.show {
    visibility: visible;
    opacity: 1;
  }

  .page-header .header-navigation .header-container {
    padding: 0;
  }

  .page-header .header-navigation .header-container .navigation-container {
    width: 50vw;
    min-height: 100vh;

    padding-top: 7rem;

    flex-direction: column;
    gap: 5rem;

    background-color: var(--white-500);

    transform: translateX(-100%);
    transition: transform 200ms ease-in-out;

    overflow: auto;
  }

  .page-header .header-navigation .header-container .navigation-container.open {
    transform: translateX(0);
  }

  .page-header .header-navigation .header-container .navigation-container .navigation-links a {
    color: var(--black-500);
  }

  .page-header .header-search-mobile {
    display: block;
  }

  .page-header .header-search-mobile .header-container {
    padding: 2.9rem 8rem 1.6rem;
  }

  .page-header .header-apresentation .header-container .header-login .user-login {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .page-header .header-apresentation .header-container {
    padding: 2.9rem 2.4rem 0 1.6rem;
  }

  .page-header .header-search-mobile .header-container {
    padding: 3.5rem 1.6rem 1.6rem;
  }

  .page-header .header-navigation .header-container .navigation-container {
    width: 70vw;
  }
}