@import '../../../css/variables.css';

.header-form,
.header-form-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 26.4rem;
  width: 26.4rem;
  height: 3.2rem;

  margin-bottom: .4rem;

  border: .2rem solid var(--white-400);
  border-radius: .5rem;

  background-color: var(--white-500)
}

.header-form .input-wrapper input,
.header-form-mobile .input-wrapper input {
  height: 100%;

  flex: 1;

  padding-left: 1.2rem;
  
  border: 0;
  outline: 0;

  background-color: transparent;
}

.header-form  .input-wrapper input::placeholder,
.header-form-mobile .input-wrapper input::placeholder {
  font-size: 14px;

  line-height: 16px;

  color: var(--gray-100);
}

.header-form button {
  padding: .7rem 1.1rem .7rem 0;
  cursor: pointer;
}

.header-form button img,
.header-form-mobile button img {
  height: 1.8rem;
  width: 1.8rem;
}

@media screen and (max-width: 992px) {
  .header-form {
    display: none;
  }

  .header-form-mobile {
    display: flex;

    max-width: 100%;
    width: 100%;

    height: 3.6rem
  }

  .header-form-mobile .input-wrapper {
    flex: 1;
  }

  .header-form-mobile .input-wrapper input {
    width: 100%;

    padding: 1rem 0 1rem 1.6rem;
  }

  .header-form-mobile button {
    padding-right: 1.6rem;
  }
}