:root {
  --font-Roboto: 'Roboto', sans-serif;
  --font-Inter: 'Inter', sans-serif;

  --black-100: #303030;
  --black-200: #292929;
  --black-300: #1E1D1D;
  --black-400: #100D0E;
  --black-500: #110D0F;

  --gray-100: #C4C4C4;
  --gray-200: #B9B7B7;
  --gray-300: #7D7D7D;
  --gray-400: #585858;

  --white-300: #E5E5E5;
  --white-350: #E7E7E7;
  --white-400: #F0F0F0;
  --white-500: #FFFF;

  --blue-500: #00C8FF;

  --red-500: red;

  --grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
  )
}