.sideBar {
  max-width: 27rem;
  width: 100%;
  max-height: 24.5rem;

  border-right: .1rem solid var(--white-300);
}

.sideBar .button-sideBar {
  height: 3.9rem;
  width: 100%;

  padding: 1rem 0 1rem 1.6rem;

  font-size: 1.6rem;
  font-weight: 400;

  text-align: start;
  line-height: 1.9rem;

  color: var(--gray-300);

  cursor: pointer;
}

.sideBar .button-sideBar.active {
  background-color: var(--blue-500);
  color: var(--white-500);

  font-weight: 700;
  font-size: 1.6rem;
  
  line-height: 1.9rem;

  transition: background-color 300ms;
}

@media screen and (min-width: 993px) {
  .sideBar .button-sideBar:hover {
    background-color: var(--blue-500);
    color: var(--white-500);
  
    font-weight: 700;
    font-size: 1.6rem;
    
    line-height: 1.9rem;
  
    transition: background-color 300ms;
  }
}

@media screen and (max-width: 992px) {
  .sideBar {
    max-width: 100%;

    border-right: 0;
  }
}