@import '../../css/variables.css';

.informations {
  display: flex;
  align-items: center;

  padding: 1.7rem 3.2rem 1.5rem;
  
  background-color: var(--gray-400);
}

.informations .description {
  font-size: 1.0rem;

  line-height: 1.2rem;

  text-transform: capitalize;

  color: var(--white-500);
}

.informations .informations-payment {
  display: flex;
  align-items: center;
}

.informations .informations-payment .line-divider {
  width: .1rem;
  height: 2.4rem;

  background-color: var(--gray-100);

  margin: 0 1.3rem;
}

.informations .informations-payment .payment-method {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}

.informations .informations-payment .vtex-pci {
  display: flex;
}

.informations .developer-company {
  display: flex;
  gap: 1.6rem;

}

.informations .developer-company .powered-by,
.informations .developer-company .developed-by {
  display: flex;
  align-items: center;
  gap: .8rem;
  
  font-size: 1.0rem;
  line-height: 1.2rem;
  
  color: var(--white-500);
}

.informations .developer-company .developed-by .logo-footer {
  width: 2.5rem;
}

@media screen and (min-width: 993px) {
  .informations {
    justify-content: space-between;
  }
}

@media screen and (max-width: 992px) {
  .informations {
    flex-direction: column;
    align-items: flex-start;

    padding: 1.7rem 5rem 1.5rem;
  }

  .informations .informations-payment {
    order: -1;

    padding-bottom: 1.2rem;
  }

  .informations .description {
    padding-bottom: 2.4rem;
  }

  .informations .description br, 
  .informations .description span {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .informations  {
    padding: 1.6rem;
  }

  .informations .informations-payment .payment-method {
    gap: 1rem;
  }

  .informations .informations-payment .payment-method li img {
    width: 3rem;
  }

  .informations .informations-payment .line-divider {
    margin: 0 .8rem;
  }
}

@media screen and (max-width: 360px) {
  .informations .informations-payment .payment-method li img {
    width: 2.4rem;
  }

  .informations .informations-payment .vtex-pci  img {
    width: 4.5rem;
  }
}