* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-Roboto);
  font-size: 1.6rem;
}

/* classes reutilizaveis */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0,);
  white-space: nowrap;
  border-width: 0;
}

/* estilos padrões */

button {
  border: 0;
  background-color: transparent;

  font-family: var(--font-Roboto);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}