@import '../../../css/variables.css';

.company {
  display: flex;
  justify-content: center;
  
  padding: 2.5rem 0 5.1rem;

  border-top:1px solid var(--white-350);
}

.company .company-container {
  width: 75%;

  display: flex;
  justify-content: space-between;
}

.company .company-container .company-institutional {
  display: flex;
  gap: 7rem;
}

.company .company-container .company-institutional .container-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.company .company-container .company-institutional .container-list .title-list .title {
  font-weight: 500;
  font-size: 1.4rem;

  line-height: 1.6rem;

  text-transform: uppercase;

  color: var(--black-100);
}

.company .company-container .company-institutional .container-list .title-list .open-list {
  display: none;  
}

.company .company-container .company-institutional .content-institutional {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.company .company-container .company-institutional .content-institutional .list-institutional a,  
.company .company-container .company-institutional .content-institutional .list-attendance a,
.company .company-container .company-institutional .content-institutional .list-attendance {
  display: flex;

  font-size: 1.2rem;
  font-weight: 400;

  line-height: 1.4rem;

  text-transform: capitalize;

  color: var(--black-100);
}

.company .company-container .company-institutional .content-institutional .list-attendance {
  font-weight: 500;
}

.company .company-container .company-networking .content-networking {
  display: flex;
  gap: 1rem;

  padding-bottom: 1rem;
}

.company .company-container .company-networking .content-networking li a {
  display: flex;
}

.company .company-container .company-networking .link-company {
  font-size: 1.4rem;
  line-height: 1.6rem;

  color: var(--black-100);
}

@media screen and (min-width: 993px) {
  .company .company-container .company-institutional .content-institutional .list-institutional a:hover,  
  .company .company-container .company-institutional .content-institutional .list-attendance a:hover {
  color: var(--blue-500);

  transition: all 300ms;
}

}

@media screen and (max-width: 992px) {
  .company {
    padding: 2.4rem 8rem 3.2rem;
  }

  .company .company-container {
    flex-direction: column;
    gap: 2.4rem;

    width: 100%;
  }

  .company .company-container .company-institutional {
    flex-direction: column;
    gap: 2.4rem;
  }

  .company .company-container .company-institutional .content-institutional {
    display: none;
  }

  .company .company-container .company-institutional .content-institutional.show {
    display: flex;
  }

  .company .company-container .company-institutional .container-list .title-list {
    display: flex;
    justify-content: space-between;
  }

  .company .company-container .company-institutional .container-list .title-list .open-list {
    display: block;
  }

  .company .company-container .company-networking .content-networking {
    padding-bottom: 0;
  }

  .company .company-container .company-networking .link-company {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .company  {
    padding: 2.4rem 2.5rem 3.2rem;
  }
  .company .company-container .company-institutional .content-institutional .list-institutional.show {
    display: block;
  }
}